{{ define "custom.email.body" }}
Alert: {{ .CommonAnnotations.summary }}
Job: {{ .GroupLabels.job }}
Instance: {{ .CommonLabels.instance }}
Severity: {{ .CommonLabels.severity }}
Please check!!!!
{{ end }}

